.content-wrapper {
  text-align: center;
}

.title {
  padding-top: 70px;
  padding-bottom: 70px;
}

h1 {
  font-size: 300%;
  color: #157FDC;
}

body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}